@import './variables.sass'

.home-page-wrapper
	transform-origin: center center
	width: 100vw
	height: 100vh
	background-color: $green
	animation: mount .5s linear forwards
	display: flex
	flex-direction: column
